.nav {
  padding: 10px;
  background-color: black;
}
.nav a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.bg {
  background-image: url('../images/front.jpg');
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.bg:hover {
  background-image: url('../images/front.jpg');
}*/

#headline {
  position: relative;
  top:70px;
}

.bg h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.bg p {
  font-size: 20px;
  color: #fff;
}

.content {
  margin-top: 50px;
}

.about-me {
  margin-top: 100px;
  margin-bottom: 10px;
}

#largeImgPanel {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 100;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(100,100,100, 0.5);
}

button {
    margin: 10px;
}